body {
	background-image: url("bartop.png");
}

* {
	font-family: georgia;
	text-align: center;
}

.text {
	background-color: #ffe6cc;
	color: black;
	vertical-align: middle;
	display: inline-block;
	padding: 40px 40px;
	margin-right: 500px;
	margin-left: 500px;
}
