body {
	background-image: url("bartop.png") top no-repeat, url("D6F5B946-2375-49FC-9788-CC7289F910A2.JPG");
	background-color: #a742f5;
}

* {
	font-family: georgia;
	text-align: center;
}

.text {
	background-color: rgb(0 0 0 / 75%);
	color: white;
	vertical-align: middle;
	display: inline-block;
	padding: 30px 30px;
	margin-right: 200px;
	margin-left: 200px;
}

.heading {
	font-size: 22px;
} 

.title {
	font-size: 60px;
	background-color: rgb(0 0 0 / 100%);
	color: white;
	vertical-align: middle;
	padding: 30px 30px;
}

#spitzmenu {
 color: #52fc03;
}
