body {
	margin: 0;
	margin-top: -80;
	background-image: url("D6F5B946-2375-49FC-9788-CC7289F910A2.JPG");
	background-position: top, 
	bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #5cd5ec;

}

.container {
	position: relative;
}

#SpitzLogo {
	filter: invert(100%);
	width: 450px;
	length: 1005px;
	position: relative;
	top: 225px;
	/*right: -43px;*/
}

/*#InstagramLogo {
	width: 85;
	length: 85;
	right: -500px;
	top: -20px;
}*/

* {
	text-align: center;
}

a {
	font-weight: bold;
	font-family: papyrus;
}

.text {
	font-size: 35px;
	font-family: georgia;
	background-color: rgb(0 0 0 / 75%);
	color: white;
	vertical-align: middle;
	
	display: flex; /*Was "inline-block"*/
	white-space: nowrap;
	
	padding: 30px 30px;
	margin-right: 200px;
	margin-left: 200px;

	
}

.heading {
	font-family: georgia;
	font-size: 40px;
} 

.title {
	font-family: georgia;
	font-size: 60px;
	background-color: rgb(0 0 0 / 75%);
	color: white;
	vertical-align: middle;
	padding: 120px 120px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#spitzmenu {
	color: white;
	background-color: #ff6666;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	font-size: 20px;
	font-family: georgia;
	padding: 5px;
	text-decoration: none;
	border-style: outset;
	border-color: white;
}

#spitzrewards {
	font-size: 20px;
	font-family: georgia;
	color: white;
	background-color: #ff6666;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
	padding: 5px;
	text-decoration: none;
	border-style: outset;
	border-color: white;
}

.soldout {
	text-decoration: line-through;
}
